$gri: #697488;
$sari: #ffd300;
$kapali-mor: #4c3398;
$acik-mor: #5d3ebc;
$apacik-mor: #f3f0fe;
$kenar-gri: #e8e8e8;
$siyah: #3e3e3e;
$background-gri: #fafafa;

body {
  a {
    text-decoration: none;
  }
}

#navbar {
  background-color: $kapali-mor;
  padding-top: 0.2rem;
  padding-bottom: 0px;
  .navbar-text-one {
    font-size: 17px;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    opacity: 0.8;
    margin-right: 1px;
    font-weight: 500;
    &:hover {
      background-color: $acik-mor;
      color: white;
    }
    &:visited {
      color: white;
    }
  }
  .active {
    opacity: 1;
    color: $sari;
    background-color: $acik-mor;
    &:hover {
      color: $sari;
    }
    &:visited {
      color: $sari;
    }
  }
  .navbar-text-two {
    padding-right: 0;
    padding-left: 2rem;
    margin: 0;
    color: white;
    opacity: 0.85;
    font-size: 15px;
    &:hover {
      color: white;
    }
    &:visited {
      color: white;
    }
    .navbar-icon {
      padding: 0;
      margin: 0;
      font-size: 17px;
    }
  }
}

.nav-link {
  padding: 0.4rem 10rem 0.5rem 10rem;
  margin-top: 0.1rem;
}

.sidebar {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $acik-mor),
    url("resimler/2.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 20px;
  height: 500px;
  .mt-space {
    margin-top: 5rem;
    .logo {
      max-width: 313px;
    }
    .card-entrance {
      max-width: 398px;
      background-color: white;
      border-radius: 10px;
      padding: 1rem;

      .entrance {
        font-size: 17px;
        color: $acik-mor;
      }
    }
  }
}

.phone {
  color: #5d3ebc;
  font-weight: 500;
  font-size: 14px;
  background-color: $sari;
  padding: 0.8rem;
  width: 100%;
  &:hover {
    background-color: $acik-mor;
    color: $sari;
  }
}

.page-shadow {
  box-shadow: 0 8px 20px -18px #666;
  margin: 0;
  padding: 0;
  .products {
    position: relative;
    display: grid;
    .product {
      padding: 0.2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.86rem;
      border-radius: 2px;
      &:hover {
        background-color: $apacik-mor;
        color: #5d3ebc;
      }
      .product-img {
        max-width: 3rem;
        border: 1px solid $kenar-gri;
        border-radius: 10px;
      }
      .product-text {
        font-size: 15px;
        color: $gri;
      }
    }
  }
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.favorites {
  border-radius: 5px;
  position: relative;
  display: grid;
  gap: 1px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  .buy {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    .favorites-img {
      border-radius: 5px;
      max-width: 100%;
      max-height: 100%;
    }
    .add {
      color: #5d3ebcce;
      font-size: 1.3rem;
      background-color: white;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 0.5rem;
      border: 1px solid $kenar-gri;
      right: 0.6rem;
      top: 0.6rem;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    .price {
      color: #5d3ebc;
    }
    .price-tag {
      font-size: 15px;
      color: $siyah;
      font-weight: 600;
    }
    .description {
      font-size: 14px;
      color: $gri;
    }
  }
}

.campaign {
  max-width: 400px;
  border-radius: 4px;
  margin-right: 1rem;
}

.page {
  background-color: $background-gri;
  overflow-wrap: break-word;
}

.getirlogo {
  background-color: $acik-mor;
  color: $sari;
  font-weight: bold;
  font-size: 22px;
}

.delivery {
  color: $gri;
  padding: 0;
  margin: 0.5rem;
  .location-icon {
    color: $acik-mor;
    margin-right: 10px;
  }
}

.bg-gri {
  background-color: $background-gri;
  .download {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 7px;
    background-color: $acik-mor;
    background-image: url("resimler/39.png");
    overflow: hidden;
    padding-left: 2.5rem;
    .download-contents {
      min-width: 500px;
      margin-top: auto;
      margin-bottom: auto;
      .download-title {
        color: white;
      }
      .download-text {
        color: white;
        font-size: 18px;
      }
      .download-image {
        margin-top: 2rem;
      }
    }
    .download-background {
      padding-top: 2rem;
      width: 100%;
      height: 100%;
      .download-background-image {
        min-width: 100%;
      }
    }
  }
}

.cards {
  background-color: $background-gri;
  .card-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .card-control {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .card-adjustment {
        padding: 0;
        margin: 0;
        .card-order {
          height: 100%;
          padding: 3rem 1rem 3rem 1rem;
          border: 0px;
          border-radius: 10px;
          .card-img-order {
            width: 150px;
            height: 150px;
          }
          .card-body {
            .card-title-order {
              color: $kapali-mor;
              font-size: 18px;
            }
            .card-text-order {
              font-size: 16px;
              color: $gri;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .information-title {
    color: $acik-mor;
    font-size: 18px;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
  }
  .download-image-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    .information-img {
      margin-bottom: 1rem;
    }
  }
  .information-text {
    margin-top: 0.5rem;
    color: $gri;
    font-size: 16px;
    &:hover {
      color: $gri;
    }
  }
}

.footer-control {
  border-top: 1px solid #686a6817;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  .footer-left-text {
    font-size: 13px;
  }
  .footer-left-list {
    margin: 0;
    padding: 0;
    .footer-left-list-ol {
      list-style: disc;
      color: #5d3ebc;
      font-size: 10px;
      margin: 0;
      .footer-left-list-li {
        a {
          font-size: 13px;
          color: $acik-mor;
          &:hover a {
            color: $acik-mor;
          }
        }
      }
    }
  }
  .social {
    flex: 1 1 0%;
    .social-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        height: 35px;
        width: 35px;
        border-radius: 10px;
        &:hover {
          background-color: $apacik-mor;
        }
        &:hover {
          .social-icon-link {
            color: $acik-mor;
          }
        }
        .social-icon-link {
          font-size: 20px;
          color: $gri;
        }
      }
    }
  }
}

.btn-order {
  font-size: 13px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #686a6817;
  padding: 0.4rem 0.6rem;
  color: $siyah;
  border-radius: 8px;
  &:hover {
    background-color: $apacik-mor;
    border: 1px solid $apacik-mor;
    color: $acik-mor;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .products {
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
  }

  .favorites {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
  }

  .favorites {
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    .add {
      right: 1.4rem;
      top: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .products {
    gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
  }

  .page {
    background-color: white;
    .favorites {
      grid-template-columns: repeat(3, 1fr);
      .buy {
        padding: 0;
        .add {
          right: 0;
          top: 0;
        }
        .favorites-img-decoraion {
          max-width: 120px;
          max-height: 120px;
          padding: 1rem;
          margin-left: auto;
          margin-right: auto;
          .favorites-img {
            border: 1px solid #5d3ebc13;
          }
        }
      }

      .price {
        margin: 0.5rem;
        .price-tag {
          font-weight: normal;
        }
      }
    }
  }

  .overflow-teeth {
    overflow: hidden;
    height: 35px;
    .overflow-inside {
      overflow: auto;
      padding-top: 2rem;
      padding-bottom: 2rem;
      .navbar-text-one {
        font-size: 15px;
      }
    }
  }

  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.65rem;
    padding-left: 0.65rem;
  }

  .download {
    padding-left: 1.5rem;
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .download-contents {
      min-width: 100%;
      max-width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      .download-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
      }
    }
  }

  .information {
    grid-template-columns: repeat(1, 1fr);
  }

  .cards {
    padding: 1rem 0;
    background-color: $background-gri;
    .card-content {
      padding-top: 0;
      padding-bottom: 0;
      .card-control {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        .card-order {
          border-radius: 0;
          padding: 3rem 0.7rem 3rem 0.7rem;
        }
      }
    }
  }

  .footer-control {
    display: block;
    text-align: center;
    background-color: white;
    border-top: 0;
    .footer-left-list {
      padding: 0.5rem;
      .footer-left-list-ol {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  .social {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
  }

  .bg-gri {
    .container-lg {
      padding: 0;
    }
    .download {
      border-radius: 0;
    }
  }
  .page-shadow {
    .products {
      .product {
        padding: 0.5rem 0;
      }
    }
  }
}
